﻿<div class="tile-container col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="col-md-12 col-xs-12 tile-header-outer" align="center">
        <div class="tile-header">
            <!--<div class="row">
                <div class="col-sm-1 icon-container"><img src="http://www.geognos.com/api/en/countries/flag/GR.png" height="28" alt="Flag" /></div>
                <div class="col-sm-10 name-container">Noam Moulin</div>
                <div class="col-sm-1 icon-container"><a href="" class="map-link" title="Map"><span class="fa-2x glyphicon glyphicon-map-marker"></span></a></div>
            </div>-->
            <div class="name-container">Noam Moulin</div>
        </div>
        <div class="outer"><img src="https://randomuser.me/api/portraits/women/33.jpg" class="image-circle" /></div>
        <h3><a href="mailto:noam.moulin@somplace.com">noam.moulin@somplace.com</a></h3>
    </div>
    <div class="col-md-6 col-xs-6 follow line" align="center">
        <h3>801.321.3214<br /> <span>Mobile</span></h3>
    </div>
    <div class="col-md-6 col-xs-6 follow line" align="center">
        <h3>
            435.214.0740<br /> <span>Home</span>
        </h3>
    </div>
    <div class="col-md-12 col-xs-12 additional-information">
        <div class="control">
            <div class="label">Location</div>
            <div class="form-control">123 Main St. Elmwood, CA 64597 US</div>
        </div>
        <div class="control">
            <div class="label">Date of Birth</div>
            <div class="form-control">11/23/1962 (54 years old)</div>
        </div>
        <div class="control">
            <div class="label">Interests</div>
            <div class="form-control">Volleyball, Chess</div>
        </div>
    </div>
</div>
