﻿hr {
  margin-top: 0; }

.navbar {
  border-bottom: 2px solid #008cba; }

#searchText {
  height: 35px; }

.loadingIcon {
  color: #00AEEF; }

#personSearchContainer .loadingContainer {
  margin-top: 200px; }

#dataToolsContainer h2 {
  margin-top: 0;
  margin-bottom: 20px; }

#dataToolsContainer .panel-body {
  height: 130px;
  padding-bottom: 10px; }

.panel-footer {
  padding: 0; }

#totalPeople {
  font-size: 3em; }

