﻿@import "variables.scss";

hr {
    margin-top: 0;
}

.navbar {
    border-bottom: 2px solid #008cba;
}

#searchText {
    height: 35px;
}

.loadingIcon {
    color: $appBlueLight;
}

#personSearchContainer {
    .loadingContainer {
        margin-top: 200px;
    }
}

#dataToolsContainer {
    h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .panel-body {
        height: 130px;
        padding-bottom: 10px;
    }
}

.panel-footer {
    padding: 0;
}

#totalPeople {
    font-size: 3em;
}
