﻿@{
    ViewBag.Title = "Sample Search";
    int peopleCount;
    if (!int.TryParse(ViewBag.PeopleCount.ToString(), out peopleCount))
    {
        peopleCount = 0;
    }
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-9">
        <p>This is a site that allows a user to perform a search for people’s names.</p>
        <h3>Features</h3>
        <ul>
            <li>Seeds random data when application initially runs</li>
            <li>Create and delete people manually</li>
            <li>Search as the user types</li>
            <li>Display results without relodaing page</li>
            <li>Multiple views for search results</li>
            <li>Responsive design</li>
        </ul>
        <h3>Technical</h3>
        <ul>
            <li>An ASP.NET MVC Application</li>
            <li>Database can be SQL Server or LocalDB</li>
            <li>Entity Framework Code First to talk to the database</li>
            <li>Ajax/JSON for search request and response</li>
            <li>Unit Tests for appropriate parts of the application</li>
            <li>React for search result views</li>
            <li>jQuery for create and delete tools</li>
        </ul>
    </div>
    <div class="col">
        <div class="card mb-5">
            <h4 class="card-header">People</h4>
            <div class="card-body text-center">
                <div id="totalPeople">0</div>
                <a href="/Home/Search" class="btn btn-primary btn-block mt-4">
                    <i class="fa fa-search"></i>
                    &nbsp; Find People
                </a>
            </div>
        </div>

        <div id="dataToolsContainer" class="card">
            <h5 class="card-header">Data Tools</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="seedAmount">Number of People to Create</label>
                        <select id="seedAmount" class="form-control">
                            <option value="10" text="10">10</option>
                            <option value="100" text="100">100</option>
                            <option value="500" text="500">500</option>
                            <option value="1000" text="1000">1000</option>
                            <option value="5000" text="5000">5000</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="clearData" class="checkbox-inline" value="true" />
                            &nbsp; Delete All People
                        </label>
                    </div>
                </form>
                <div id="loadingContainer" class="center-block text-center" style="display: none;">
                    <i class="loadingIcon fa fa-spin fa-circle-o-notch fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="mt-4">
                    <button type="button" id="seedDataButton" class="btn btn-success btn-block"><i class="fa fa-plus"></i> &nbsp; Create People</button>
                    <hr /><button type="button" id="wipeData" class="btn btn-danger btn-xs btn-block"><i class="fa fa-exclamation-triangle"></i> &nbsp; Delete All People</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    @Styles.Render("~/bundles/search/css")
}

@section scripts{
    <script type="text/javascript">
        (function (hc, $) {
            "use strict";

            $.extend(true, hc, {
                serverValues: {
                    initPeopleCount: "@peopleCount"
                }
            });
        })(window.SampleSearch = window.SampleSearch || {}, window.jQuery);
    </script>

    @Scripts.Render("~/Scripts/Custom/home.js")
}
