﻿@{
    ViewBag.Title = "Sample Search";
}
@section styles {
    @Styles.Render("~/bundles/search/css")
}

<div id="personSearchContainer">
    <div class="center-block text-center loadingContainer">
        <i class="loadingIcon fa fa-spin fa-circle-o-notch fa-5x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="loadingContainer" class="center-block text-center" style="display: none;">
    <i class="loadingIcon fa fa-spin fa-circle-o-notch fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

@section scripts {
    <script src="/components/search/list/item.jsx" type="text/babel"></script>
    <script src="/components/search/list/app.jsx" type="text/babel"></script>
    <script src="/components/search/tiles/app.jsx" type="text/babel"></script>
    <script src="/components/search/table/row.jsx" type="text/babel"></script>
    <script src="/components/search/table/app.jsx" type="text/babel"></script>
    <script src="/components/search/results.jsx" type="text/babel"></script>
    <script src="/components/search/app.jsx" type="text/babel"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.js"></script>
}
