﻿.resultsContainerTile .tile-container * {
  font-family: 'Raleway', sans-serif; }

.resultsContainerTile.tile-container {
  background: #F32D27;
  background: linear-gradient(45deg, #F32D27 5%, #EB4F26 99%);
  box-shadow: 0 0 8px 0 #4b4b4b;
  box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.54);
  margin: 15px; }

.resultsContainerTile .image-circle {
  border: 4px solid #FFF;
  border-radius: 50%;
  height: 175px;
  margin: 10px;
  width: 175px; }

.resultsContainerTile .follow {
  border-top: 2px solid #F32D27;
  color: #FFF;
  height: 80px; }

.resultsContainerTile .additional-information {
  background-color: #FFF;
  margin-bottom: 15px;
  padding: 10px; }

.resultsContainerTile .label {
  color: #EB4F26;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0; }

.resultsContainerTile .control {
  color: #000;
  margin: 10px;
  padding-left: 0; }

.resultsContainerTile .form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
  box-shadow: none;
  color: #000;
  height: auto;
  margin-bottom: 0;
  outline: none;
  padding-left: 0; }

.resultsContainerTile .tile-header {
  border-bottom: 2px solid #F32D27;
  padding-top: 5px; }

.resultsContainerTile .name-container {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%; }

.resultsContainerTile .icon-container span:hover {
  color: #4b4b4b; }

.resultsContainerTile .tile-header-outer a:link,
.resultsContainerTile .tile-header-outer a:visited {
  color: #FFF;
  text-decoration: none; }

.resultsContainerTile .tile-header-outer a:hover,
.resultsContainerTile .tile-header-outer a:active {
  color: #4b4b4b;
  text-decoration: none; }

.resultsContainerTile .additional-information a:link,
.resultsContainerTile .additional-information a:visited {
  color: #FFF; }

.resultsContainerTile .additional-information a:hover,
.resultsContainerTile .additional-information a:active {
  color: #4b4b4b; }

.resultsContainerTile .phoneLabel {
  display: inline-block;
  font-size: medium;
  margin-top: 5px;
  opacity: .7; }

.resultsContainerTile .flag {
  margin-left: 10px; }

.resultsContainerTile address {
  margin-bottom: 0; }

.resultsContainerTile .emailContainer,
.resultsContainerTile .ellipsisText {
  color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.resultsContainerTile .additional-information .ellipsisText {
  color: inherit; }

