﻿@import "../../../Content/Custom/variables.scss";

$tileRed: $appRed;
$tileOrange: $appOrange;
$tileGray: $appGray;

.resultsContainerTile {
    .tile-container * {
        font-family: 'Raleway', sans-serif;
    }

    &.tile-container {
        background: $tileRed;
        background: linear-gradient(45deg, $tileRed 5%, $tileOrange 99%);
        box-shadow: 0 0 8px 0 $tileGray;
        box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.54);
        margin: 15px;
    }

    .image-circle {
        border: 4px solid #FFF;
        border-radius: 50%;
        height: 175px;
        margin: 10px;
        width: 175px;
    }

    .follow {
        border-top: 2px solid $tileRed;
        color: #FFF;
        height: 80px;
    }

    .additional-information {
        background-color: #FFF;
        margin-bottom: 15px;
        padding: 10px;
    }

    .label {
        color: $tileOrange;
        font-size: 18px;
        font-weight: 500;
        padding-left: 0;
    }

    .control {
        color: #000;
        margin: 10px;
        padding-left: 0;
    }

    .form-control {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        box-shadow: none;
        color: #000;
        height: auto;
        margin-bottom: 0;
        outline: none;
        padding-left: 0;
    }

    .tile-header {
        border-bottom: 2px solid $tileRed;
        padding-top: 5px;
    }

    .name-container {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-size: x-large;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        width: 100%;
    }

    .icon-container span:hover {
        color: $tileGray;
    }

    .tile-header-outer a:link,
    .tile-header-outer a:visited {
        color: #FFF;
        text-decoration: none;
    }

    .tile-header-outer a:hover,
    .tile-header-outer a:active {
        color: $tileGray;
        text-decoration: none;
    }

    .additional-information a:link,
    .additional-information a:visited {
        color: #FFF;
    }

    .additional-information a:hover,
    .additional-information a:active {
        color: $tileGray;
    }

    .phoneLabel {
        display: inline-block;
        font-size: medium;
        margin-top: 5px;
        opacity: .7;
    }

    .flag {
        margin-left: 10px;
    }

    address {
        margin-bottom: 0;
    }

    .emailContainer,
    .ellipsisText {
        color: #FFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .additional-information .ellipsisText {
        color: inherit;
    }
}
