﻿@import "../../../Content/Custom/variables.scss";
$itemBackground: $appOffWhite;
$itemHoverBackground: opacify($appOrange, 0.1);
$itemHoverBorder: darken($itemHoverBackground, 10%);
$itemBorder: darken($itemBackground, 20%);

.resultsContainerList {
    * {
        font-family: 'Raleway', sans-serif;
    }

    .media {
        padding: 5px;
    }

    .resultListItem {
        background-color: $itemBackground;
        border: 1px solid $itemBorder;
        cursor: pointer;
        margin: 0;
        margin-bottom: 15px;
        overflow-y: auto;
        width: 100%;
    }

    .resultListItem:hover {
        background-color: $itemHoverBackground;
        color:$appOffWhite;
        border: 1px solid $itemHoverBorder;
    }

    .firstLastName {
        font-size: large;
        font-weight: bold;
        margin-right: 10px;
        text-transform: uppercase;
    }

    .addressContainer {
        max-width: 350px;
    }

    @media only screen and (min-width: 1200px) {
        .addressContainer {
            display: inline-block;
            max-width: 440px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .ellipsisText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    #personListContainer {
        margin-top: 20px;
    }

    .flag {
        margin-left: 10px;
        opacity: 0.2;
    }

    .loadingText {
        text-align: center;
        font-size: 30px;
    }
}
