﻿.resultsContainerList * {
  font-family: 'Raleway', sans-serif; }

.resultsContainerList .media {
  padding: 5px; }

.resultsContainerList .resultListItem {
  background-color: #f0f0f0;
  border: 1px solid #bdbdbd;
  cursor: pointer;
  margin: 0;
  margin-bottom: 15px;
  overflow-y: auto;
  width: 100%; }

.resultsContainerList .resultListItem:hover {
  background-color: #eb4f26;
  color: #f0f0f0;
  border: 1px solid #cb3913; }

.resultsContainerList .firstLastName {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase; }

.resultsContainerList .addressContainer {
  max-width: 350px; }

@media only screen and (min-width: 1200px) {
  .resultsContainerList .addressContainer {
    display: inline-block;
    max-width: 440px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } }

.resultsContainerList .ellipsisText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.resultsContainerList #personListContainer {
  margin-top: 20px; }

.resultsContainerList .flag {
  margin-left: 10px;
  opacity: 0.2; }

.resultsContainerList .loadingText {
  text-align: center;
  font-size: 30px; }

