﻿@import url("http://fonts.googleapis.com/css?family=Raleway:400,200");
#searchFormContainer {
  margin-top: 30px; }

#changeViewContainer {
  margin-top: 20px; }

#searchButton {
  margin-left: 15px; }

